*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#bodyContainer{ 
     font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    background-color: rgb(193, 226, 193);
   
   }
   
