
    .Main5{

        h2{
            text-align: center;
            margin: 100px;
            color: $verdecito;
            font-weight: bolder;
        }
        .eventos{
            margin-top:100px;
        }
        p{
            text-align: center;
        }
        h3{
            text-align: center;
            color: $verdecito;
            font-weight: bolder;
        }
        .slide img{ width: 50%;
            height: 400px;
        }
    }